.about {
    background: url(./assets/images/milk1-desktop.png) no-repeat 12% 0, url(./assets/images/milk2-desktop.png) no-repeat bottom right 13% #DAEEFF;
    /*для расчета позиции фона состоявляем уравнение 1920 = 100% 224 = х -> 100/1920*224 = 12%*/
    padding: 102px 0 186px;
    position: relative;
}

.about::before {
    content: "";
    display: block;
    width: 250px;
    height: 216px;
    background: url(./assets/images/icons/rainbow.svg) no-repeat;
    position: absolute;
    top: -126px;
    right: 24%;
}

.about__title {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 86px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #E44277;
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 83px 47px 0;
}

.about__wrapper-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 129px;
}

.about__text {
    font-size: 20px;
    line-height: 155%;
    margin-top: 0;
    margin-bottom: 16px;
}

.about__text:first-of-type {
    margin-top: 165px;
    /*212 - 47 mb у h2*/
}

.about__text:nth-of-type(2) {
    order: 1;
}

.about__text:last-of-type {
    text-align: right;
}