.best {
    background: url(./assets/images/icons/best-bg.svg) no-repeat left top 47px, linear-gradient(to bottom, transparent 145px, #DAEEFF 145px);
    background-size: 100% auto, auto auto;
    padding: 0 0 77px;
    position: relative;
    /*для списка с кнопками, к-ый абсолют*/
}

.best__wrapper {
    display: flex;
    gap: 65px;
}

.best__title {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 96px;
    text-align: right;
    line-height: 100%;
    color: #E44277;
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 202px;
    margin-bottom: 41px;
}

.best__text {
    font-size: 20px;
    line-height: 160%;
    text-align: right;
    margin-top: 0;
    margin-bottom: 33px;
}

.best__button {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 0.04em;
    line-height: 100%;
    background: #fff;
    padding: 19px 20px 22px;
    text-align: center;
    border-radius: 100px;
    border: #F3CB60 3px solid;
    display: block;
    width: 288px;
    margin-left: auto;
    transition: border-color .3s ease;
}

.best__button:hover,
.best__button:focus-visible {
    border-color: #E44277;
    color: #E44277;
}

.best__button:active {
    opacity: 0.7;
}