.order {
    padding-bottom: 163px;
}
.order__title {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: #2D3440;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
