.page {
    margin: 0;
    background: #FECDDC;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    color: #000;
}

.page--catalog {
    background: url(./assets/images/line2.svg) no-repeat left top 640px, url(./assets/images/line3.svg) no-repeat left bottom 166px  #FEAFC3;

}